@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NYC Explorer View Check</title>
</head>
<body>
    <div data-testid="view-ok">view-ok</div>
</body>
</html>
